   
       /* Propiedades grales de la página */

    html{
      width: 1400px;
      }
    .separaciontop{
      padding: 5px;
      }
    body {
      background-color: #000000;
      font-family: Do Hyeon, monospace;
      color: white;
      text-align: center;
      }


/* MENU E IMAGEN QUE REDIRIGE A INDEX---------------------------------------- */

       /* Imagen Index */

     .indeximg{
      width: 170px;
	  padding-left: 60px;
      }
	a.indeximg{
	  width: 0px;
	  }

       /* Menu propiedades grales */

    #menu {
      width: 98%;
      background-color: #E0E0E0;
      height: 40px;
      display: flex;
	  position: fixed;
      top: 0;
	  z-index: 91
      }

       /* Menu propiedades de la lista */

    #menu ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-content: center;
      width: 80%;
      }

       /* Propiedades de cada item de la lista */

    #menu ul li {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-content: center;
      }

      /* Propiedades de cada link de items de la lista */

    #menu ul li a{
      color: black;
      font-family: Do Hyeon, monospace;
      font-size: 17px;
      text-decoration: none;
      display: flex;
      padding: 0px 72px 20px 0px;
      }

      /* Efecto al pasar el cursor por los links*/

    #menu ul li a:hover{
      color: #808080;
      }


/* IMAGENES EN INDEX QUE REDIRIGEN A SECCIONES DE LA PAGINA-------------------- */

    .coleccionimg {
      width: 100%;
      display: inline;
	  margin-top: 30px;
	  margin-bottom: 60px;
      }
    .mujerimg {
      width: 100%;
      display: inline;
	  margin-top: 60px;
      }
    .hombreimg {
      width: 100%;
      display: inline;
	  margin-top: 60px;
      }
    .comprashomeimg {
      width: 100%;
      display: inline;
	  margin-top: 80px;
      }

    .footer a {
     color: white;
     }


/* SECCION --------MUJERES/HOMBRES General------------------------------------- */

     .contenido-m {
      display: flex;
      flex-direction: row;
      }

      /* Propiedades del menu verical */

     .vertical-menu{
      background-color: #ccc;
      width: 200px;
      height: 600px;
      overflow-y: auto;
      margin: 115px 0px 0px 20px;
	  position: fixed;
      justify-content: flex-start;
      }
     .vertical-menu a {
      background-color: #eee;
      color: black;
      display: block;
      text-decoration: none;
      justify-content: flex-start;
      padding-top: 30px;
      padding-bottom: 20px;
      }

      /* Efecto al pasar el cursor */

     .vertical-menu a:hover {
      background-color: #ccc;
      }

      /* Efecto sobre pestaña activa */

     .vertical-menu a:active {
      background-color: #ccc;
      color: white;
      }

      /* Contenedores con recurso flexbox */

     .prendasgral{
      background-color: #eee;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      width: 80%;
      height: 100%;
	  margin-left: 220px;
	  margin-top: 50px;
      }
     .prendasgral a{
      background-color: white;
	  color: black;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 30%;
	  height: 100%;
      }

      /* Items de la lista de prendas -cada foto del menu es un item- */

	 .prendasgral ul{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  align-content: space-between;
	  justify-content: space-between;  
	  }
	 .prendasgral p{
	  text-align: left;
	  color: dimgray;
	  }
	 .prendasgral ul li{
	  display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-content: space-between;
      }
	 .prendasgral ul li a{
	  display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-content: space-between;
      }



/* SECCION --------DESCRIPCION DE C/PRENDA------------------------------------- */
      /* Uso del recurso flexbox para organizar el contenido */

	 .detallecont{
	  display: flex;
	  justify-content: flex-start;
	  flex-direction: row;
	  background-color: #eee;
	  width: 80%;
      height: 800px;
	  margin-left: 220px;
	  margin-top: 50px;
	 }

      /* Imágenes */

	 .otrasimg{
      display: flex;
	  flex-direction: column;
      flex-wrap: wrap;
      }
	 .otrasimg img{
	  display: flex;
	  flex-wrap: wrap;
      }

      /* Títulos, párrafo y botones de la derecha */

	 .descripcionpg{
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  width: 40%;
	  color: black;
	  font-size: 40px;
	  position: fixed;
      top: 20px;
	  right: 160px;
	  }
/* TITULO H6 */
	 .descripcionpg h6{
	  display: flex;
	  justify-content: flex-start;
	  flex-direction: column;
	  width: 40%;
	  color: gray;
	  font-size: 17px;
	  position: fixed;
      top: 100px;
	  right: 150px;
	  padding: 0px; 
	  }
/* PARRAFO */
	 .descripcionpg p{
	  display: flex;
	  justify-content: flex-start;
	  flex-direction: column;
	  width: 40%;
	  color: black;
	  font-size: 18px;
	  position: fixed;
      top: 170px;
	  right: 150px;
	  padding: 0px; 
	  }
/* BOTON */
	 .btn2{
	  display: flex;
	  justify-content: center;
	  align-self: center;
	  flex-direction: column;
	  width: 260px;
	  background-color: black;
	  color: white;
	  position: fixed;
      top: 320px;
	  right: 460px;
	  border: none;
      padding: 7px 38px;
      font-size: 15px;
      cursor: pointer;
      }
/* BOTON */
	 .btn3{
	  display: flex;
	  justify-content: center;
	  align-self: center;
	  flex-direction: column;
	  width: 260px;
	  background-color: black;
	  color: white;
	  position: fixed;
      top: 320px;
	  right: 148px;
	  border: thick;
      padding: 7px 44px;
      font-size: 15px;
      cursor: pointer;
      }

      /* SECCION --------TABLA DE TALLES---Imágen----------------------------- */

	 .tabla{
	  width: 100%;
	  margin-top: 20px;
	  margin-left: 50px;
	  }

      /* SECCION --------LOCALES----------------------------------------------- */

	  .contlocales{
	  background-color: gainsboro;
	  margin-left: 180px;
	  box-shadow: 50;
	  height: 670px;
	  }
	 .localesdesc{
	  color: black;
	  font-size: 15px;
	  display: flex;
	  justify-content: flex-start;
	  flex-direction: column;
	  text-align: justify;
	  margin: 20px;
	  position: fixed;
	  top: 40px;
	  left: 170px;
	  }
	 .localesdesc2{
	  color: black;
	  font-size: 15px;
	  display: flex;
	  justify-content: flex-END;
	  flex-direction: column;
	  text-align: justify;
	  margin: 20px;
	  position: fixed;
	  top: 40px;
	  right: 20px;
	  }

       /* FORMULARIO DE SECCION ----CONTACTO----------------------------------- */

	 .contactate{
	  margin-top: 70px;
	  font-size: 40px;
	  }
	 .formulario{
	  display: flex;
	  flex-direction: column;
	  text-align: center;
	  justify-content: space-around;
	  margin-top: 0px;
	  font-family: Do Hyeon, monospace;
	  color: gray;
	  height: 500px;
	  }

       /* ESTA PARTE DEL CODIGO ES DIFERENTE PORQUE LA BAJE DE W3SCHOOLS */
      /* Input de datos */

	input[type=text], select {
	  width: 1000px;
	  padding: 10px 20px;
	  margin: 20px 10px;
	  background-color: #E9E9E9;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  }

	input[type=submit] {
	  width: 1000px;
	  background-color: black;
	  color: white;
	  font-family: Do Hyeon, monospace;
	  font-size: 20px;
	  padding: 20px 10px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  }

	input[type=submit]:hover {
	  background-color: #2c052d;
			}

	 .f1 {
	  border-radius: 3px;
	  background-color: #2c052d;
	  padding: 20px;
	  }

	textarea {
	  width: 1000px;
	  height: 200px;
	  padding: 10px 20px;
	  margin: 20px 10px;
	  box-sizing: border-box;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  background-color: #E9E9E9;
	  font-size: 16px;
	  resize: none;
	  }


       /*  SECCION ----CARRITO----------------------------------------------- */



	 .items{
	  background-color: #E0E0E0;
	  margin: 0px 0px 20px 0px;
	  display: flex;
	  width: 100%;
	  justify-content: space-between;
	  flex-direction: column;
	  }
	 .items input{
	  background-color: #E0E0E0;
	  margin: 0px 0px 0px 0px;
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	  }
	 .recuadroscart{
	  width: 30%;
	  background-color: #E0E0E0;
	  display: flex;
	  align-items: center;
      flex-direction: column;
	  margin: 10px;
	  position: fixed;
      justify-content:space-around;
	  }



       /*  SECCION ----REGISTRO---------------------------------------------- */
       /* ESTA PARTE DEL CODIGO ES DIFERENTE PORQUE LA BAJE DE W3SCHOOLS */



	* {
	  box-sizing: border-box;
	}

	/* Agregar padding a containers */
	 .container {
	  padding: 16px;
	  background-color: #2c052d;
	  margin-top: 50px;
	}

	/* Campos de input */
	input[type=text], input[type=password] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  display: inline-block;
	  border: none;
	  background: #f1f1f1;
	}

	input[type=text]:focus, input[type=password]:focus {
	  background-color: #ddd;
	  outline: none;
	}

	/* Sobrescribir estilos default de hr */
	hr {
	  border: 1px solid #f1f1f1;
	  margin-bottom: 25px;
	}

	/* Estilo para el boton */
	 .registerbtn {
	  background-color: black;
	  color: white;
	  padding: 16px 20px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  opacity: 0.9;
	}

	 .registerbtn:hover {
	  opacity: 1;
	}

	/* Color azul para los links */
	a {
	  color: dodgerblue;
	}

	/* Color de fondo y texto centrado para boton signin */
	 .signin {
	  background-color: black;
	  text-align: center;
	}




       /* ----FOOTER--------------------------------------------------------- */


       /* Contenedor */

     .footer-container {
  	  height: 600px;
  	  display: flex;
  	  justify-content: space-around;
  	  flex-direction: column;
	  }

       /* Botones inferiores */

     .btn {
      background-color: #2c052d;
      border: none;
      color: white;
      padding: 7px 130px;
      font-size: 20px;
      cursor: pointer;
	  }

     .botones{
      position: fixed;
      bottom: 0;
      width: 100%;
      }

        /* Efecto oscurecer boton al pasar el mouse */

     .btn:hover {
      background-color: gray;
      }
